* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #1c1c20;
  color: #eee;
  text-align:left;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: justify;
}

header {
  background: linear-gradient(to bottom, rgb(185 103 245 / 85%), #e962cceb);
  color: white;
  text-align: center;
  padding: 9px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: black;
  text-decoration: underline; 
}

section {
  padding: 40px 0;
}

.project {
  margin-bottom: 40px;
  border-radius: 5px; 
  box-shadow: 0 4px 6px #ccc;
  overflow: hidden;
}

.project .container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  flex-wrap: nowrap; 
}

.project {
  flex: 0 0 calc(33.33% - 20px); 
  background-color: #000; 
  color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project h2 {
  padding: 15px;
  background: linear-gradient(to bottom, rgb(185 103 245 / 85%), #e962cceb);
  color: white;
  font-size: 1.5rem;
}

.project p {
  padding: 15px;
}

/* Contact */
.contact-form {
  text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #c0392b;
}

footer {
  background: linear-gradient(to bottom, rgb(185 103 245 / 85%), #e962cceb);
  color: white;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

header {
  padding: 100px 0;
  position: relative;
}

nav ul li a:hover {
  color: #ecf0f1;
}

.header-content {
  max-width: 600px;
  margin: auto;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.header-content p {
  font-size: 1.2rem;
}

.project {
  position: relative;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.experience {
  padding: 40px 0;
}

.experience-item {
  margin-bottom: 30px;
  position: relative;
}

.experience-item h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.experience-item p {
  color: #eee;
  font-size: 1rem;
}

.experience-item .experience-details {
  margin-top: 15px;
  padding: 15px;
  background: #4d4d52;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #c3c0c0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.experience-item:hover .experience-details {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#certifications {
  padding: 40px 0;
}

.certification {
  display: flex;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #ccc;
  overflow: hidden;
}

.certification-icon {
  flex: 1;
  background: linear-gradient(to bottom, rgb(185 103 245 / 85%), #e962cceb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.certification-icon img {
  max-width: 100%;
  max-height: 50%;
}

.certification-content {
  flex: 2;
  padding: 15px;
}

.certification h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.certification p {
  color: #eee;
  font-size: 1rem;
  margin-bottom: 10px;
}

.certification-link {
  display: inline-block;
  color: #e74c3c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.certification-link i {
  margin-left: 5px;
}

.certification-link:hover {
  color: #c0392b;
}

.menu-icon {
  display: none; 
  cursor: pointer;
}

.profile-photo {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden; 
  margin: 20px auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

@media (max-width: 768px) {
  .menu-list {
    display: none; 
    flex-direction: column;
    text-align: center;
  }

  .menu-icon {
    display: block; 
  }
}

.menu-list.show-menu {
  display: block;
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 10px 0;
  }
}

.project-image-container {
  overflow: hidden; 
  position: relative; 
}

.project-image {
  width: 100%; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.project-image:hover {
  transform: scale(1); 
}

#contact {
  padding: 50px 0; 
  text-align: center; 
}

.container {
  max-width: 800px; 
  margin: 0 auto;
}

h1 {
  font-size: 28px; 
  margin-bottom: 20px; 
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.contact-item {
  flex: 1;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  border: 1px solid #ddd; 
  background-color: #1c1c20;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.contact-item a {
  text-decoration: none; 
  color: #eee; 
}

.contact-item i {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.contact-item p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
  }
}
#skills {
  padding: 40px 0;
  text-align: center;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 750px;
    /* margin-left: auto; */
    margin: 0 auto;
}

.skill-card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 8px #0c0b0b; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-5px); 
  box-shadow: 1px 2px 3px #eee; 
}

.skill-card i {
  font-size: 36px;
  color: #007bff; 
}

i.fa-brands.fa-js {
    color: yellow;
}

.skill-card h3 {
  font-size: 20px;
  margin: 10px 0;
}

.skill-card p {
  font-size: 16px;
  color: #555;
}

i.fa-brands.fa-bootstrap {
    color: darkviolet;
}
i.fa-brands.fa-html5 {
    color: #d3381f;
}
i.fa-brands.fa-css3-alt {
    color: yellow;
}
i.fa-brands.fa-laravel {
    color: red;
}
